.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
    /* position: relative;
    top: 98px; */
   
}
input{
    font-size: 38px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 23px;
    
}
button{
    
    font-size: 40px;
    background: rgb(186, 189, 221);
    width: 100px;
    height: 57px;
    /* border: none; */
    border-radius: 20px;
}
.calculator{
    /* border: 2px solid red; */
    display: inline-block;
    background-color: rgb(172, 89, 144);
    padding: 30px;
    border-radius: 23px;
    box-shadow: red;
}
/* // if (buttonText == 'X'){
    //     buttonText = '*';
    //     screenValue += buttonText;
    //     screen.value = buttonValue;
    // }
    // else if (buttonText == 'C') {
    //     screen.value = '';
    // }
    // else if (buttonText == '=') {
    //     screen.value = eval(screenValue);
    // }
    // else {
    //     screenValue += buttonText;
    //     screen.value = buttonValue;
    // } */